<div id="main-navigationbar">
    <ul class="dropMenu">
        <li>
            @Html.ActionLink("Services", "Services", "Home")
            <ul>
                <li>
                    @Html.ActionLink("midweekchurch", "MidWeekChurch", "Home")
                </li>
                <li>
                    @Html.ActionLink("Kingscliff", "Kingscliff", "Home")
                </li>
                <li>
                    @Html.ActionLink("Tweed Morning", "TweedMorning", "Home")
                </li>
                <li>
                    @Html.ActionLink("Tweed@5", "TweedAt5", "Home")
                </li>
            </ul>
        </li>
        <li>
            @Html.ActionLink("Whats On", "Activities", "Home")
            <ul>
                <li>
                    @Html.ActionLink("SmallGroups", "SmallGroups", "Home")
                </li>
                <li>
                    @Html.ActionLink("Youth", "Youth", "Home")
                </li>
                <li>
                    @Html.ActionLink("Other Activities", "Activities", "Home")
                </li>
            </ul>
        </li>
        <li>
            @Html.ActionLink("Resources", "Sermons", "Home")
            <ul>
                <li>
                    @Html.ActionLink("Calendar", "Calendar", "Home")
                </li>
                <li>
                    @Html.ActionLink("News", "NewsLetters", "Home")
                </li>
                <li>
                    @Html.ActionLink("Sermons", "Sermons", "Home")
                </li>
                            <li>
                @Html.ActionLink("Links", "Links", "Home")
            </li>
            </ul>
        </li>
        <li>
            @Html.ActionLink("Where Are We", "Location", "Home")
        </li>
        <li>
            @Html.ActionLink("Contact Us", "Contact", "Home")
        </li>
    </ul>
</div>
<br />
