<div id="main-navigationbar">
    <ul>
        <li>
            <p>@Html.ActionLink("Services", "Services", "Home")</p>
        </li>
        <li>
            <p>@Html.ActionLink("Location", "Location", "Home")</p>
        </li>
        <li>
            <p>@Html.ActionLink("Activities", "Activities", "Home")</p>
        </li>
        <li>
            <p>@Html.ActionLink("Calendar", "Calendar", "Home")</p>
        </li>
        <li>
            <p>@Html.ActionLink("Contact Us", "Contact", "Home")</p>
        </li>
        <li>
            <p>@Html.ActionLink("Site Map", "SiteMap", "Home")</p>
        </li>
    </ul>
</div>
<br />